.heading {
	display: flex;
	justify-content: center;
}

.buttonGroup {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.leftButton {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.rightButton {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}
