.productDelete {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
}

.heading {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
	flex-wrap: nowrap;
	width: 100%;
}

.productForm {
	justify-content: center;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
